<settings>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>central</mirrorOf>
      <url>https://adams.cms.waikato.ac.nz/nexus/content/groups/public</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>adams</id>
      <repositories>
        <repository>
          <id>adams-snapshots</id>
          <url>https://adams.cms.waikato.ac.nz/nexus/content/repositories/adams-snapshots</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>adams-releases</id>
          <url>https://adams.cms.waikato.ac.nz/nexus/content/repositories/adams-releases</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>
    </profile>

    <profile>
      <id>latex</id>
      <properties>
        <!-- If the latex binaries (eg pdflatex) aren't on the system's path -->
        <!-- you need to specify the directory. Below are some examples: -->

        <!-- windows -->
        <!--latex.binariesPath>C:/texlive/2016/bin/win32/</latex.binariesPath-->
        
        <!-- linux/mac -->
        <!--latex.binariesPath>/some/where/texlive/2016/bin/x86_64-linux/</latex.binariesPath-->
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus</activeProfile>
    <activeProfile>adams</activeProfile>
    <activeProfile>latex</activeProfile>
  </activeProfiles>
</settings>
